.offer-container {
  background-color: rgb(247, 247, 247);
  background-size: 100%;
  padding: 3vw 3vw;
  display: flex;
  flex-wrap: wrap;
}
.offerItem-container {
  width: 25%;
  flex: 0 0 25%;
  padding: 1vw;
}
.navbar-otherPages {
  transition: 0.1s ease;
  background-color: white;
  box-shadow: rgb(241, 241, 241) 0px 1px 2px;
}

@media (max-width: 992px) {
  .offer-container {
    .offerItem-container {
      width: 50%;
      flex: 0 0 50%;
    }
  }
}

//mobile
@media (max-width: 575.98px) {
  .offer-container{
    .offerItem-container{
      width: 100%;
      flex: 0 0 100%;
    }
  }
}
