.offer-container {
  background-color: rgb(247, 247, 247);
  background-size: 100%;
  padding: 3vw 3vw;
  display: flex;
  flex-wrap: wrap;
}
.navbar-otherPages {
  transition: 0.1s ease;
  background-color: white;
  box-shadow: rgb(241, 241, 241) 0px 1px 2px;
}
